@import "theme.css";

span {
    color: var(--cerulean);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--vulcan);
}

.about-img img {
    width: 40vw;
}
