@import url(theme.css);

/* .cf-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
} */
.cf-auth .cwr {
    display: block;
    position: absolute;
    width: 22rem;
    height: 28rem;
    top: 50%;
    left: 50%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.8rem;
    border-radius: 8px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cf-auth .card .auth-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem !important;
}

.cf-auth .cwr .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.cf-auth .cwr .card .frontside,
.cf-auth .cwr .card .backside {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cf-auth .cwr .card .backside {
    transform: rotateX("180deg");
}
.cf-auth .cwr:hover .card {
    transform: rotateX("2deg");
}
.cf-auth .cwr input {
    display: none;
}
.cf-auth .cwr input:checked + .card {
    transform: rotateX("180deg");
}
.cf-auth .cwr:hover input:checked + .card {
    transform: rotateX("175deg");
}
.cf-auth .card form > * {
    width: 100%;
}

.cf-auth .card form .fs-float,
.cf-auth .card form .btn {
    margin-top: 2rem;
}

.cf-auth .card form input {
    border-radius: 8px;
    font-size: 0.8rem;
    background: var(--inputs) !important;
}

.cf-auth .card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
