/* @import "theme.css";

/************************************/
/************************************/
/************************************/
/******** Minimal Screen Size *******/
/************************************/
/************************************/
/************************************/

/* Tablet S */
@media (min-width: 576px) {
    .container {
        margin: initial;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .container {
        margin: initial;
    }
    section.home .home-content {
        padding-right: 6rem;
    }
    .container-fluid section.home {
        justify-content: start !important;
        padding: 0 1rem;
    }

    section.home .home-content {
        width: 65% !important;
    }
    section.home .home-content h3 {
        font-size: 1.6rem !important;
    }
    section.home .home-content h1 {
        font-size: 2rem !important;
    }
    section.home .profession-container .profession-box {
        width: 400px !important;
    }
    section.home .profession-container .overlay {
        top: 25% !important;
        border-top: 360px solid var(--vulcan) !important;
        border-right: 200px solid var(--vulcan) !important;
        border-bottom: 360px solid var(--vulcan) !important;
        border-left: 200px solid transparent !important;
    }
    section.home .profession-container {
        width: 400px !important;
        transform: translateY(-50%) !important;
    }
    section.home .profession-container .profession-box .circle {
        width: 360px !important;
        height: 360px !important;
        margin-left: 3rem !important;
    }
    section.home .profession-container .profession-box .profession {
        transform-origin: 360px;
        margin-left: 0.5rem;
        left: -1rem !important;
    }
    section.home .profession-container .profession-box .profession i {
        font-size: 1rem !important;
    }
    section.home .profession-container .profession-box .profession h3 {
        font-size: 0.95rem !important;
        line-height: 1;
        margin-bottom: 0;
    }
    section.home img {
        width: 40%;
    }
    section.services .services-container {
        gap: 3rem !important;
    }
}

/* Laptop S */
@media (min-width: 992px) {
    /* Global */
    .container {
        margin: initial;
    }

    .container-fluid {
        padding: 0 3rem !important;
    }

    /* Navbar */

    .navbar nav div .collapse ul .nav-item {
        margin-left: 1rem !important;
    }

    /* Home Section */

    .container-fluid section.home {
        padding: 0 0;
    }

    /* .container-fluid section.home .home-content {
        max-width: 38rem !important;
    } */

    .container-fluid section.home .home-content h3 {
        font-size: 1.6rem !important;
        font-weight: 700;
    }

    .container-fluid section.home .home-content h1 {
        font-size: 3rem !important;
        font-weight: 700;
    }

    .container-fluid section.home .home-content p {
        font-size: 1.1rem !important;
    }

    section.home .home-content .social-medias a {
        width: 3rem !important;
        height: 3rem !important;
        background: transparent;
        /* border: 0.08rem solid var(--cerulean); */
        margin: 2rem 0.5rem 1rem 0;
    }

    section.home .home-content .social-medias a i {
        font-size: 1.45rem !important;
    }
    section.home .profession-container .profession-box {
        width: 550px !important;
    }
    section.home .profession-container .overlay {
        top: 25% !important;
        border-top: 360px solid var(--vulcan) !important;
        border-right: 275px solid var(--vulcan) !important;
        border-bottom: 360px solid var(--vulcan) !important;
        border-left: 275px solid transparent !important;
    }
    section.home .profession-container {
        width: 550px !important;
        transform: translateY(-50%) !important;
    }
    section.home .profession-container .profession-box .circle {
        width: 420px !important;
        height: 420px !important;
        margin-left: 3rem !important;
    }
    section.home .profession-container .profession-box .profession {
        transform: rotate(calc(360deg / 4 * var(--i)));
        transform-origin: 360px;
        margin-left: 0.5rem;
        left: 1rem !important;
    }
    section.home .profession-container .profession-box .profession i {
        font-size: 1rem !important;
    }
    section.home .profession-container .profession-box .profession h3 {
        font-size: 0.95rem !important;
        line-height: 1;
        margin-bottom: 0;
    }
    section.home img {
        width: 35%;
        right: 0 !important;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    .container {
        margin: initial;
    }

    section.home .home-content .btn {
        padding: 0.9rem 2rem !important;
        font-size: 1.05rem !important;
        letter-spacing: 0.1rem;
    }
}

/* Laptop M */
@media (min-width: 1200px) {
    .container {
        margin: initial;
    }
    /* .container-fluid section.home .home-content {
        
    } */
    section.home .home-content h3 {
        font-size: 1.8rem !important;
        font-weight: 700;
    }
    section.home .home-content h1 {
        font-size: 2.5rem !important;
        font-weight: 700;
    }
    section.home .home-content p {
        font-size: 1rem !important;
    }
    section.home .profession-container {
        width: 800px !important;
        height: 800px !important;
    }
    section.home .profession-container .profession-box {
        width: 100% !important;
        height: 100% !important;
    }
    section.home .profession-container .overlay {
        top: 0 !important;
        border-top: 400px solid var(--vulcan) !important;
        border-right: 400px solid var(--vulcan) !important;
        border-bottom: 400px solid var(--vulcan) !important;
        border-left: 400px solid transparent !important;
    }
    section.home .profession-container .profession-box .circle {
        width: 560px !important;
        height: 560px !important;
        margin-left: 3rem !important;
    }
    section.home .profession-container .profession-box .profession {
        transform: rotate(calc(360deg / 4 * var(--i)));
        transform-origin: 360px;
        margin-left: 0.5rem;
        left: 4rem !important;
    }
    section.home .profession-container .profession-box .profession i {
        font-size: 1.4rem !important;
    }
    section.home .profession-container .profession-box .profession h3 {
        font-size: 1.2rem !important;
        line-height: 1;
        margin-bottom: 0;
    }
    section.home img {
        right: 0 !important;
        width: 30% !important;
    }
}

/* Laptop L */
@media (min-width: 1440px) {
    .container {
        margin: initial;
    }
}

/* 4K Screens */
@media (min-width: 2560px) {
    .container {
        margin: initial;
    }
}

/************************************/
/************************************/
/************************************/
/******** Maximal Screen Size *******/
/************************************/
/************************************/
/************************************/

/* Mobile S - L */
@media (max-width: 576px) {
    .container {
        margin: initial;
    }
}

/* Tablet */
@media (max-width: 767.98px) {
    #menu-icon {
        display: block !important;
    }
    #darkMode-icon {
        position: absolute;
        right: 4rem;
    }
    .navbar-c {
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        width: 100% !important;
        padding: 1rem 7% !important;
        background: var(--mirage) !important;
        border-top: 0.1rem solid var(--cerulean) !important;
        box-shadow: 0 0.1rem 1rem var(--vulcan) !important;
        display: none;
    }
    .navbar-c.active {
        display: block;
        transition: 0.5s ease;
    }
    .navbar-c a {
        display: block;
        font-size: 1.15rem !important;
        margin: 1rem 0;
    }
    .logo {
        font-size: 1.6rem !important;
    }
    .navbar-c a.active {
        color: var(--iron);
    }
    .navbar-c a::before {
        display: none;
    }
    section.home img {
        display: none;
    }
    section.home {
        padding: 0 3% 23rem;
        justify-content: center !important;
        align-items: start !important;
        text-align: center;
    }
    section.home .home-content {
        align-items: center !important;
    }
    section.home .home-content h3 {
        font-size: 1.3rem !important;
        font-weight: 700;
    }
    section.home .home-content h1 {
        font-size: 1.65rem !important;
        font-weight: 700;
    }
    p,
    section.home .home-content p {
        font-size: 0.9rem !important;
    }
    section.home .home-content .title-subtitle {
        align-items: center !important;
    }
    .home-content .social-medias a {
        margin: 1.8rem 0.3rem 0.9rem 0 !important;
        width: 2.2rem !important;
        height: 2.2rem !important;
    }
    .home-content .social-medias a i {
        font-size: 0.95rem !important;
    }
    .btn,
    a.btn,
    .home-content a.btn {
        font-size: 0.9rem !important;
        padding: 0.7rem 1.6rem !important;
    }
    section.home .profession-container {
        width: 100% !important;
        height: 720px !important;
    }
    section.home .profession-container .profession-box {
        width: 100% !important;
        height: 100% !important;
    }
    section.home .profession-container .overlay {
        top: 0 !important;
        border-top: 360px solid var(--vulcan) !important;
        border-right: 112.5px solid var(--vulcan) !important;
        border-bottom: 360px solid var(--vulcan) !important;
        border-left: 112.5px solid transparent !important;
    }
    section.home .profession-container .profession-box .circle {
        width: 200px !important;
        height: 200px !important;
        margin-left: 3rem !important;
    }
    section.home .profession-container .profession-box .profession {
        transform: rotate(calc(360deg / 4 * var(--i)));
        transform-origin: 360px;
        margin-left: 0.5rem;
        left: 0rem !important;
    }
    section.home .profession-container .profession-box .profession i {
        font-size: 1.1rem !important;
    }
    section.home .profession-container .profession-box .profession h3 {
        font-size: 0.9rem !important;
        line-height: 0.9;
        margin-bottom: 0;
    }
    section.home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(1);
        border-width: 23.9rem;
    }
}

/* Laptop S */
@media (max-width: 992px) {
    .container {
        margin: initial;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    .container {
        margin: initial;
    }
}

/* Laptop M */
@media (max-width: 1200px) {
    .container {
        margin: initial;
    }
    .home .profession-container {
        right: -9rem !important;
        height: 90rem !important;
    }
    .home .profession-container .profession-box {
        right: -12rem;
        height: 90rem !important;
    }
    .home .profession-container .overlay {
        border-top: 720px solid var(--vulcan) !important;
        border-right: 420px solid var(--vulcan) !important;
        border-bottom: 720px solid var(--vulcan) !important;
        border-left: 420px solid transparent !important;
    }
}

/* Laptop L */
@media (max-width: 1440px) {
    .container {
        margin: initial;
    }
}

/* 4K Screens */
@media (max-width: 2560px) {
    .container {
        margin: initial;
    }
}
