@import "theme.css";

.cf-add-item {
    margin: 0;
    padding: 0;
}

.cf-add-item ul li {
    list-style-type: decimal;
}
/* .cf-add-item form {
    display: flex;
    width: 100%;
} */

/* .cf-add-item form > * {
    width: 50%;
    height: 100vh;
    padding: 0 0.5rem;
} */

/* .cf-add-item form .side-left {
    padding-right: 1.4rem;
} */
/* .cf-add-item form .side-right {
    border-left: 0.2rem solid var(--raven);
    padding-left: 1.4rem;
} */

/* .title-wrapper {
    margin: 2rem 0 2rem 2rem;
} */

form {
    width: 100%;
}

form div {
    flex-direction: column;
}

input,
select,
textarea {
    border-radius: 0.25rem !important;
}

textarea {
    resize: none;
}

output {
    color: var(--cerulean);
}
input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    top: -1rem;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    background: url("/assets/icons/fire.png") !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}
input[type="range"]::-webkit-slider-thumb::before {
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--cerulean);
}

input.submit-form {
    margin-right: 1rem;
    align-self: flex-end;
}

.side-right input.btn {
    box-shadow: none !important;
}
.bootstrap-tagsinput {
    background: var(--bright-gray);
    border: none;
}
.bootstrap-tagsinput .tag {
    color: var(--mirage);
    background: var(--cerulean);
    font-size: 0.8rem;
    border-radius: 0.2rem;
    padding: 0.1rem 0.3rem;
}

.tag-label {
    font-size: 0.8rem;
    margin-right: 1rem;
}
