@import "theme.css";

.df {
    position: relative;
    background-color: inherit;
    /* min-height: 100vh; */
    top: 0;
    left: 78px;
    min-width: 100vw;
    transition: all 0.5s ease;
    z-index: 2;
    padding: 1rem !important;
}

.df .title-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.df .title {
    /* position: absolute; */
    margin: 1rem;
    display: inline-block;
    color: var(--iron);
    font-size: 1.6rem;
}

.df .subtitle {
    margin: 1rem 1rem 1rem -0.5rem !important;
    padding-left: 0.5rem;
    font-size: 1.2rem !important;
    font-weight: 400;
    color: var(--raven);
    border-left: 0.2rem solid var(--iron);
}

.btn.btn-dashboard {
    margin-top: 0.5rem;
    padding: 0.6rem 0.9rem !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    border-radius: 0.4rem !important;
}

.df .row {
    width: 100%;
    padding: 1rem 0;
    margin-left: 1.5rem;
}

.df .row.head {
    border-bottom: 0.08rem solid var(--bright-gray);
}

.df .row .col-12 {
    /* gap: 0.3rem; */
    width: fit-content;
}

.df .row .col-12.col-fs {
    margin-left: -0.7rem;
}

.df .row a {
    border: 0.02rem solid var(--cerulean);
    padding: 0.3rem 0.4rem !important;
}

/* .df .row a.fs-btn {
    margin-left: 1rem;
} */
