@import "theme.css";

.df {
    position: relative;
    background-color: inherit;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 2;
    padding: 1rem !important;
}

.df .title {
    /* position: absolute; */
    margin: 1rem;
    display: inline-block;
    color: var(--iron);
    font-size: 1.6rem;
}
