@import "theme.css";

.fmf {
    position: relative !important;
    background-color: inherit;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 2;
    padding: 1rem !important;
}

.fmf .title {
    /* position: absolute; */
    margin: 1rem;
    display: inline-block;
    color: var(--iron);
    font-size: 1.6rem;
}

.fmf .row.top {
    width: 100% !important;
    margin-left: 1rem;
    border-bottom: 0.08rem solid var(--bright-gray);
}

.fmf .row {
    width: 100% !important;
    margin-left: 1rem;
}

.fmf .card .card-title {
    font-size: 0.9rem;
}

.fmf .card .action-bar {
    width: 100%;
    display: flex;
    justify-content: start;
}

.fmf .card .action-bar a,
.fmf .card .btn-action-wrapper a.undisabled,
.fmf .card .btn-action-wrapper a.disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cerulean);
    border-radius: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.4rem;
    transition: all 0.5s ease;
}
.fmf .card .action-bar a:not(.af) {
    margin-left: 0.5rem;
}

.fmf .card .action-bar a:hover {
    transform: scale(1.1);
}

.fmf .card .action-bar a i,
.fmf .card .btn-action-wrapper a.undisabled i,
.fmf .card .btn-action-wrapper a.disabled i {
    color: var(--vulcan);
}

.disabled:not(.card a.undisabled) {
    opacity: 0.5;
}

.btn.btn-dashboard {
    margin-top: 0.5rem;
    padding: 0.6rem 0.9rem !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.card p {
    font-size: 0.85rem !important;
}

.card .btn-action-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
