/* .container-fluid {
    overflow: hidden !important;
} */
/* section {
    width: 100%;
    min-height: 100vh;
    padding: 10rem 7% 2rem;
} */

/* Left Part */
section.home .home-content {
    max-width: 32rem !important;
    justify-content: center;
}

section.home .home-content h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

section.home .home-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

section.home .home-content p {
    font-size: 1rem;
}

section.home .home-content .social-medias a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    /* border: 0.08rem solid var(--cerulean); */
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    color: var(--cerulean);
    transition: 0.5s ease;
    margin: 2rem 0.5rem 1rem 0;
}

section.home .home-content .social-medias a:hover {
    background: var(--cerulean);
    color: var(--mirage);
}
section.home .home-content .social-medias a i {
    font-size: 1.2rem;
}

/* Right Part */
section.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 720px;
    height: 720px;
    overflow: hidden;
    pointer-events: none;
}

section.home .profession-container .profession-box {
    top: 0;
    right: 0;
    position: absolute;
    width: 720px;
    height: 720px;
    background: transparent;
    border-radius: 50%;
}

section.home .profession-container .profession-box .profession {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--cerulean);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 360px;
    margin-left: 0.5rem;
    left: 2rem;
    background: var(--mirage);
    padding: 13px 15px;
}

/* section.home .profession-container .profession-box:nth-child(2),
section.home .profession-container .profession-box:nth-child(4) {
    top: 1rem !important;
} */

section.home .profession-container .profession-box .profession i {
    font-size: 1.3rem;
}

section.home .profession-container .profession-box .profession h3 {
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 0;
}

section.home .profession-container .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

section.home .profession-container .profession-box .profession:nth-child(3) {
    right: 30rem;
}

section.home .profession-container .profession-box .profession:nth-child(2),
section.home .profession-container .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

section.home .profession-container .profession-box .circle {
    width: 510px;
    height: 510px;
    border: 0.1rem solid var(--cerulean);
    border-radius: 50%;
}

section.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    /* display: none; */
    border-top: 360px solid var(--vulcan);
    border-right: 360px solid var(--vulcan);
    border-bottom: 360px solid var(--vulcan);
    border-left: 360px solid transparent;
}

/* section.home .home-image {
    width: 100% !important;
    height: 768px !important;
} */
section.home img {
    position: absolute;
    bottom: 0;
    right: -3rem;
    width: 45%;
    /* height: 768px; */
    pointer-events: none;
}
