@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap");
@import "theme.css";

.headline-section {
    background-image: linear-gradient(
        var(--mirage) 0%,
        var(--astro-blue) 40%
    ) !important;
    min-height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}

.headline-section .parallax {
    position: relative;
    display: flex;
    height: 100vh;
}

.headline-section .parallax img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.headline-section .parallax img.backward {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    margin-bottom: 0 !important;
}

.headline-section .parallax img.guys {
    top: -5rem !important;
    width: 100%;
}

.headline-section .parallax img.comp {
    top: 0;
    left: 0%;
    width: auto;
}
