/* section.m-cross {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.tagcloud {
    display: inline-block;
    top: 55px;
    left: 32%;
    font-weight: 600;
    letter-spacing: 2px;
}

.tagcloud--item:hover {
    color: var(--iron);
}
