@import "theme.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.sidebar {
    min-height: 100vh;
    width: 78px;
    padding: 6px 14px;
    z-index: 90;
    background-color: var(--vulcan);
    transition: all 0.5 ease;
    position: fixed;
    box-shadow: 3px 0 10px -4px var(--astro-blue);
    top: 0;
    left: 0;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo-name {
    color: var(--iron);
    font-size: 1.3rem;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo-name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--iron);
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 3rem;
    font-size: 1rem;
    text-align: center;
}

.sidebar .nav-list {
    margin-top: 5rem;
    height: 100%;
}

.sidebar li {
    position: relative;
    display: flex;
    margin: 0.4rem 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -1rem;
    left: calc(100% + 0.9rem);
    z-index: 3;
    background-color: var(--raven);
    color: var(--vulcan);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 0.85rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 0.9rem;
    color: var(--iron);
    font-weight: normal;
    outline: none;
    height: 2.25rem;
    width: 2.25rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--mirage);
    transition: all 0.5s ease;
}

.sidebar.open input {
    padding: 0 0.5rem 0 3.5rem;
    width: 100%;
}

.sidebar input::placeholder {
    color: var(--cerulean);
    opacity: 0.8;
}

.sidebar .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    background-color: var(--cerulean);
    color: var(--vulcan);
}

.sidebar li a:not(.a-logout) {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease;
    z-index: 12;
}

.sidebar li a:not(.a-logout)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--cerulean);
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}

.sidebar li a:hover::after {
    transform: scaleX(1);
    color: var(--iron);
}

.sidebar li .link-name {
    font-size: 0.9rem;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease;
}

.sidebar li a:hover i,
.sidebar li a:hover .link-name {
    color: var(--vulcan);
    transition: all 0.5s ease;
}

.sidebar li a.a-logout:hover i {
    color: var(--crimson);
}

.sidebar.open li a .link-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li i {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 0.2rem;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: var(--mirage);
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar .profile .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
    font-size: 15px;
    font-weight: 400;
    color: var(--cerulean);
    white-space: nowrap;
}

.sidebar li.profile .designation {
    font-size: 0.8rem;
}

.sidebar .profile #logout {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--astro-blue);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .profile #logout {
    width: 50px;
    background: none;
}

.sidebar.open ~ .df {
    left: 250px;
    width: calc(100% - 250px);
}
