:root {
    --light: #eeeeff;
    --iron: #ced1d6;
    --ghost: #c7cbd4;
    --gray-chateau: #767d89;
    --raven: #767d89;
    --bright-gray: #3c4452;
    --mirage: #1a202c;
    --vulcan: #10151e;

    --astro-blue: #01435a;
    --cerulean: #00bfff;
    --crimson: #de1533;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

/* body,
.bg-base {
    background-color: var(--mirage) !important;
    color: var(--ghost) !important;
} */

.section {
    background-color: inherit;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

input::placeholder {
    color: var(--ghost) !important;
}
